<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/style.css"/>
    <title>Formulario</title>
</head>
<body>
    <center>
        <div class="div-center">
        <div class="div-form">
        <form action="/displayPerson" method="POST">
                <h1>Agregar Persona</h1>
            <label for="nombre">Nombre</label><br>
            <input type="text" id="nombre" name="nombre"><br/><br/>
            <label for="nss">Nss</label><br>
            <input type="text" id="nss" name="nss"><br/><br/>
            <label for="edad">Edad</label><br>
            <input type="text" id="edad" name="edad"><br/><br/>
            <label for="tipoSangre">Tipo de sangre</label><br>
            <input type="text" id="tipoSangre" name="tipoSangre"><br/><br/>
            
            <input class='agregar-btn' type="submit" value="Agregar">
        </form>
    </div>
</div>
    </center>
</body>
</html>